In [73]:
import pandas as pd

In [74]:
data = {
    'Date': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01'],
    'Opening Inventory': [500, 550, 450, 600, 650],
    'Incoming Quantity': [200, 150, 250, 180, 300],
    'Outgoing Quantity': [100, 120, 150, 110, 180]
}

In [75]:
df = pd.DataFrame(data)

In [76]:
print (df)

         Date  Opening Inventory  Incoming Quantity  Outgoing Quantity
0  2017-01-01                500                200                100
1  2017-02-01                550                150                120
2  2017-03-01                450                250                150
3  2017-04-01                600                180                110
4  2017-05-01                650                300                180

In [77]:
df.to_csv('Opening Inventory.csv', index = False)

In [78]:
df['Inventory Levels'] = df['Opening Inventory'] + df['Incoming Quantity'] - df['Outgoing Quantity']

In [79]:
print(df)

         Date  Opening Inventory  Incoming Quantity  Outgoing Quantity  \
0  2017-01-01                500                200                100
1  2017-02-01                550                150                120
2  2017-03-01                450                250                150
3  2017-04-01                600                180                110
4  2017-05-01                650                300                180

   Inventory Levels
0               600
1               580
2               550
3               670
4               770

In [80]:
df.to_csv('Inventory Levels.csv', index = False)

In [81]:
data = {

    'Date': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01'],

    'Order Date': ['2016-12-25', '2017-01-28', '2017-02-15', '2017-03-05', '2017-04-10'],

    'Delivery Date': ['2017-01-02', '2017-02-05', '2017-03-02', '2017-04-08', '2017-05-15']

}

In [82]:
df = pd.DataFrame(data)

In [83]:
print(df)

         Date  Order Date Delivery Date
0  2017-01-01  2016-12-25    2017-01-02
1  2017-02-01  2017-01-28    2017-02-05
2  2017-03-01  2017-02-15    2017-03-02
3  2017-04-01  2017-03-05    2017-04-08
4  2017-05-01  2017-04-10    2017-05-15

In [84]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'])
df['Delivery Times'] = (df['Delivery Date']-df['Order Date']).dt.days

In [85]:
print(df)

         Date Order Date Delivery Date  Delivery Times
0  2017-01-01 2016-12-25    2017-01-02               8
1  2017-02-01 2017-01-28    2017-02-05               8
2  2017-03-01 2017-02-15    2017-03-02              15
3  2017-04-01 2017-03-05    2017-04-08              34
4  2017-05-01 2017-04-10    2017-05-15              35

In [86]:
df.to_csv('Order Date.csv', index = False)

In [87]:
data = {
    'Date': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01'],
    'Shipment Status': ['In Transit', 'Delivered', 'In Transit', 'Delivered', 'In Transit'],
    'Inventory Status': ['Low', 'High', 'Medium', 'Medium', 'High']
}

In [88]:
df = pd.DataFrame(data)

In [89]:
print(df)

         Date Shipment Status Inventory Status
0  2017-01-01      In Transit              Low
1  2017-02-01       Delivered             High
2  2017-03-01      In Transit           Medium
3  2017-04-01       Delivered           Medium
4  2017-05-01      In Transit             High

In [90]:
df['Supply Chain Visibility'] = 0
df.loc[df['Shipment Status'] == 'Delivered', 'Supply Chain Visibility'] += 1
df.loc[df['Inventory Status'] == 'High', 'Supply Chain Visibility'] += 1

In [91]:
print(df)

         Date Shipment Status Inventory Status  Supply Chain Visibility
0  2017-01-01      In Transit              Low                        0
1  2017-02-01       Delivered             High                        2
2  2017-03-01      In Transit           Medium                        0
3  2017-04-01       Delivered           Medium                        1
4  2017-05-01      In Transit             High                        1

In [92]:
# Create sample data
data = {
    'Date': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01'],
    'Location': ['A', 'B', 'C', 'D', 'E'],
    'Infrastructure Rating': [3, 2, 4, 3, 2]
}

In [93]:
df = pd.DataFrame(data)

In [94]:
print(df)

         Date Location  Infrastructure Rating
0  2017-01-01        A                      3
1  2017-02-01        B                      2
2  2017-03-01        C                      4
3  2017-04-01        D                      3
4  2017-05-01        E                      2

In [95]:
df.loc[df['Location'] == 'B', 'Infrastructure Rating'] = 5

In [96]:
print(df)

         Date Location  Infrastructure Rating
0  2017-01-01        A                      3
1  2017-02-01        B                      5
2  2017-03-01        C                      4
3  2017-04-01        D                      3
4  2017-05-01        E                      2

In [97]:
df.loc[df['Location'] == 'A', 'Infrastructure Rating'] = 6

In [98]:
print(df)

         Date Location  Infrastructure Rating
0  2017-01-01        A                      6
1  2017-02-01        B                      5
2  2017-03-01        C                      4
3  2017-04-01        D                      3
4  2017-05-01        E                      2

In [99]:
df.to_csv('Infrastructure Rating.csv', index = False)