In [1]:
import pandas as pd

In [3]:
data = {
    'Date': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01'],
    'Opening Inventory': [500, 550, 450, 600, 650],
    'Incoming Quantity': [200, 150, 250, 180, 300],
    'Outgoing Quantity': [100, 120, 150, 110, 180]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print (df)

         Date  Opening Inventory  Incoming Quantity  Outgoing Quantity
0  2017-01-01                500                200                100
1  2017-02-01                550                150                120
2  2017-03-01                450                250                150
3  2017-04-01                600                180                110
4  2017-05-01                650                300                180

In [6]:
df['Inventory Levels'] = df['Opening Inventory'] + df['Incoming Quantity'] - df['Outgoing Quantity']

In [7]:
print(df)

         Date  Opening Inventory  Incoming Quantity  Outgoing Quantity  \
0  2017-01-01                500                200                100
1  2017-02-01                550                150                120
2  2017-03-01                450                250                150
3  2017-04-01                600                180                110
4  2017-05-01                650                300                180

   Inventory Levels
0               600
1               580
2               550
3               670
4               770